# Ignore .bak
*.bak

__pycache__/
.dccache
.pytest_cache/
.qodo
.ruff_cache
.venv
*.csv
*.db
*.xlsx
data/
log*/
secrets.json
uv.lock
.env
.env.test
.mcp.json
.mcpregistry_*
*.pyc
*.egg-info/
dist/
build/
.eggs/